@using L4D2_match_history.Shared
@inherits LayoutComponentBase
@inject HttpClient Http

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (steamPlayer != null)
            {
                <div class="ml-md-auto ">
                    @if (string.IsNullOrEmpty(steamPlayer.steamid))
                    {
                        <a href="/signin"><img src="/image/sits_01.png" /></a>
                    }
                    else
                    {
                        <a href="@($"/personalstat/{steamPlayer.steamid}")"> <img src="@steamPlayer.avatar" /> @(" ")  @steamPlayer.personaname</a> <a class="btn btn-danger" href="/signout"> Signout </a>
                    }
                </div>
            }
            <a href="https://github.com/Kahdeg-15520487/L4D2_match_history_blazor" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            <CascadingValue Value="refreshSteamPlayer">
                @Body
            </CascadingValue>
        </div>
    </div>
</div>

@code{
    SteamPlayer steamPlayer = null;
    protected override async Task OnInitializedAsync()
    {
        await LoadSteamPlayer();
    }

    private async Task LoadSteamPlayer()
    {
        steamPlayer = await Http.GetFromJsonAsync<SteamPlayer>("status");
    }

    EventCallback _refreshSteamPlayer = EventCallback.Empty;
    EventCallback refreshSteamPlayer {
        get {
            if (_refreshSteamPlayer.Equals(EventCallback.Empty))
            {
                _refreshSteamPlayer = EventCallback.Factory.Create(this, LoadSteamPlayer);
            }
            return _refreshSteamPlayer;
        }
    }
}